<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boardPrograms.web.board.boardsMapper">
	<!-- <resultMap type="hashmap" id="boardMap" /> -->
	<resultMap id="accessMap" type="com.boardPrograms.web.board.model.Params">
		<result property="CampID" column="CAMP_ID" javaType="java.lang.String" jdbcType='VARCHAR'></result>
		<result property="sWorkSect" column="CAMP_STAT_CD"></result>
		<result property="sCallListName" column="sCalllist_Name"></result>
		<result property="sPreNext" column="sPre_Next" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="iSequence" column="iSequence" javaType="int" jdbcType="INTEGER"></result>
		<result property="sFieldName" column="sFieldName" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="sAccount" column="sAccount" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="sText" column="sText" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="sFilterSect" column="sFilterSect" javaType="java.lang.String" jdbcType="VARCHAR"></result>
	</resultMap>
	
	<select id="getAccessList" statementType="CALLABLE" resultType="hashmap" parameterType="hashmap" useCache="true">
		{call "SP_ACS_CAMP_INFO"('result',
		#{CAMP_ID, mode=IN, javaType=String, jdbcType=VARCHAR}, 
		#{CAMP_STAT_CD, mode=IN, javaType=String, jdbcType=VARCHAR}, 
		#{SCENARIO_NAME, mode=IN, javaType=String, jdbcType=VARCHAR}, 
		#{CAMP_NAME, mode=IN}, ${CAMP_COUNT}, #{GRP_VDN, mode=IN}, #{GRP_NAME, mode=IN}, #{TR_NAME, mode=IN},
		#{CALLLIST_NAME, mode=IN})
		}
	</select>
		
</mapper>